<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <%= render "shared/header" if user_signed_in?%>

    <div class="container mt-3">
      <%= render 'shared/flash_messages' %>
    </div>
    <main class="pb-20 max-w-md mx-auto">  <!-- max-w-md = 448px -->
      <%= yield %>
    </main>

    <%= render "shared/bottom_nav" if user_signed_in? %>
  </body>
</html>
